

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*, ::after, ::before {box-sizing: border-box;}
* {font-family: 'PT Sans', sans-serif;}
* {margin: 0;padding: 0}

ul, ol {list-style: none;margin:0;padding: 0;}
:hover {transition: .3s ease;}
a {font-size: 14px;color: rgba(0,0,0,0.7); text-decoration: none;}

body {background: #57419d;font-size: 15px;line-height: 22px;font-family: 'PT Sans', sans-serif;}

#main {width: 100%;padding: 20px;}
#main::after {clear: both;display: block;content: ''}

#leftbar {width: 20%;float: left;height: 100vh;overflow-x: hidden;overflow-y: auto;position: fixed;}
#leftbar .logo {width: 100%;padding: 20px;text-align: center;}
#leftbar .logo img {max-width: 100%;}
#leftbar .l_menus {width: 100%;}
#leftbar .l_menus ul {
    width: 85%;
    display: flex;
    display: flex;
    justify-content: flex-end;
    flex-flow: row-reverse wrap;
    margin: auto;
}
#leftbar .l_menus ul li {line-height: 30px;width: 100%;margin: 2px auto;}
#leftbar .l_menus ul li a {
    font-size: 16px;
    color: #fff;
    padding: 5px 0;
    display: block;
    line-height: 20px;
    border-bottom: 1px solid rgba(255,555,255,.3);
}
#leftbar .l_menus ul li a img {float: left;margin-right: 5px;}

#leftbar .search {width: 85%;position: relative;display: flex;margin:auto;margin-bottom: 25px;}
#leftbar .searchTerm {
  width: 100%;
  border: 2px solid #feca83;
  border-right: none;
  padding: 7px 10px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color:#222323;
}

#leftbar .searchTerm:focus{color: #222323;}
#leftbar .searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #feca83;
  background: #feca83;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  padding-top: 5px;
}

#rightbar {width: 78%;border-radius: 10px;float: right;background: #fff;padding: 20px;height: 100%;}

header {background: #a49cbb;border-radius: 5px;padding: 5px;}
header .container {width: 100%;}
header .container::after {clear: both;display: block;content: ''}
header .container ul {width: auto;float: left;}
header .container ul.login_menu {width: auto;float: right;}
header .container ul li {margin: 5px 10px;vertical-align: middle;display: inline-block;}
header .container ul li a {font-size: 16px;font-weight: bold;line-height: 22px;position: relative;color: #fff}
header .container ul li img {vertical-align: middle;}
header .container ul li ul {display: none;}
header .container ul li:hover ul {display: block;position: absolute;background: #a49cbb;right: 40px;width: auto;}
header .container ul li ul li a {font-weight: 400}
header .container ul li.hamburger_menu {display: none;}
header .container ul li.users {float: right;}
header .container ul li.addBlogBtn a {
    background: #57419d;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
}

#main_content {width: 100%;padding: 15px 0;margin-top: 30px;}
#main_content .form_table {width: 100%;}
#main_content .form_table table tr th {background: #5a43a2;color: #fff;padding: 10px 10px;font-size: 17px;}
#main_content .form_table table tr th:first-child {border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
#main_content .form_table table tr th:last-child {border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
#main_content .form_table td {border: 2px solid #e6dddd;text-align: center;font-size: 15px;padding: 5px;border-left: none;border-top: none;}
#main_content .form_table td:first-child {border-left: 2px solid #e6dddd;}
#main_content .form_inner {max-width: 800px;width: 100%;margin: auto;}
#main_content .form_inner .form_main::after {clear: both;display: block;content: ''}
#main_content .form_inner .form_main {width: 100%;}
#main_content .form_inner .form_main .inner {
    width: 50%;
    float: left;
}
#main_content .form_inner p {font-size: 18px;text-align: center;padding-bottom: 10px;font-weight: bold;}
#main_content .form_inner .form-group {width: 100%;padding: 10px 0 0;}
#main_content .form_inner .form-group::after {clear: both;display: block;content: ''}
#main_content .form_inner .form-group label {width: 100%;}
#main_content .form_inner .form-group input,
#main_content .form_inner .form-group textarea {width: 95%;padding: 7px 10px;border-radius: 3px;border: 1px solid rgba(0,0,0,0.3);}
#main_content .form_inner .form-group textarea {height: 85px;}
#main_content .form_inner .form-group textarea.description {height: 113px;}
#main_content .form_inner .form-group.btn {text-align: center;}
#main_content .form_inner .form-group button {
    background: #57419d;
    padding: 7px 25px;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 5px;    
}
#main_content .form_inner .form-group button.cancel {
    background: #dc2b2b;   
}
#main_content .form_inner .form-group button:hover,
#main_content .form_inner .form-group input:hover,
#main_content .form_inner .form-group textarea:hover {box-shadow: 0px 3px 7px rgba(0,0,0,0.5);}

header .container ul li .navbar {display: none;}
#close {display: none;}

@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 991px) {
	#leftbar {display: none;}
	header .container ul li .navbar {display: block;}
	#rightbar {width: 100%}
	header .container ul li {display: inline-block !important;margin:5px;}
	header .container ul {width: auto;}
	header .container ul li:last-child {float: right;}
	#leftbar {width: 95%;background: #57419d;z-index: 999;position: fixed;padding: 20px;}
	#close {position: absolute;top: 0;right: 15px;display: block;}
	#main_content .form_table {width: 100%;white-space: nowrap;overflow: auto;}
	#leftbar .logo img {max-width: 300px;width: 100%;}
	#main_content .form_inner .form-group label {width: 30%;}
	#main_content .form_inner .form-group input, #main_content .form_inner .form-group textarea {width: 70%}
}